@mixin title($font-family, $font-weight, $font-style, $font-size, $margin) {
	font-family: $font-family;
	font-weight: $font-weight;
	font-style: $font-style;
	font-size: $font-size;
	margin: $margin;
}
