@use "../../styles/mixin.scss" as m;
@import "../../styles/variable.scss";
body {

	background-color: #FFFBFA;
}

.mainSection {
  margin: 3em 1.5em;
}



h2 {
  @include m.title("BBBPoppins-Display", 400, normal, 2.25em, unset); // 36px
}

a {
  text-decoration: unset;
  color: $black_color;
  &:hover {
    text-decoration: underline;
  }
}

.job {
  color: $black_color;
  font-family: "BBBPoppins-Display";
  font-weight: 400;
  font-style: normal;
  margin: 1em 0;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.identity {
  flex: 3;
}



.mendatoryIndication > p {
  margin: unset;
  color: $black_color;
  font-family: "BBBPoppins-Display";
  font-weight: 400;
  font-size: 0.5em;
  font-style: normal;
  .websiteFont {
    font-size: 1em;
  }
}

@media screen and (max-width: 863px) {
  h1 {
    @include m.title("BBBPoppins-Display", 700, normal, 2.5em, unset);
  }
  h2,
  .customContact {
    @include m.title("BBBPoppins-Display", 400, normal, 1.5em, unset);
  }
  .job {
    margin: 1em 0 2em 0;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 535px) {
  h1 {
    @include m.title("BBBPoppins-Display", 700, normal, 2em, unset);
  }
  h2,
  .customContact {
    @include m.title("BBBPoppins-Display", 400, normal, 1.2em, unset);
  }
  .job {
    margin: 1em 0 2em 0;
  }
  .logo {
    display: flex;
    justify-content: center;
  }

  .mendatoryIndication > p {
    font-size: 0.25em;
    .websiteFont {
      font-size: 0.25em;
    }
  }
}
