@use "../../styles/mixin.scss" as m;
@import "../../styles/variable.scss";

.headerContainer {
  // display: flex;
  // justify-content: space-between;
  
}

.logoNameContaine {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items:start;
  // padding-bottom: 3em; // actve if the button workshop is under the navbar
  .logo {
    // width: 100%;
    // flex: 1;
    img {
      max-width: 20em;
      height: auto;
      contain: content;
      min-width: 1em;
      animation: rotation 16s infinite linear;
    }
    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }
  }

  .name {
    @include m.title("BBBPoppins-Display", 700, normal, 4.5em, unset);
  }
}
